@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#root {
  height: 100vh;
}

.main {
  /* background: #F5F5F5; */
  margin-left: 16px;
  margin-right: 16px;
}

* {
  font-family: 'Noto Sans CJK KR', Arial, sans-serif;
  letter-spacing: -0.01em;
  -webkit-appearance: none;
}

label, span {
  font-family: 'Noto Sans CJK KR', Arial, sans-serif;
}

a {
  text-decoration : none;
}

/* 
  Header
*/

.header {
  margin-top: 9px;
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}

.header .prev {
  display: inline-block;
  position: absolute;
  left: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--systemColor);
  visibility: hidden;
}

.header .prevText {
  margin-left: 6px;
  position: relative;
  bottom: 3px;
}

.header .indicator {
  display: inline-block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--systemColor);
}

.header .close {
  display: inline-block;
  position: absolute;
  right: 0;
}

.header .indicator span {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 2px;
}

/* 
  ProgressBar
*/

.progressBG {
  margin-top: 35px;
  margin-bottom: 11px;
  width: 100%;
  height: 4px;
  background: #EBEBEB;
  border-radius: 22px;
}

#progress {
  width: 0%;
  height: 4px;
  background: #82E155;
  border-radius: 22px;
  transition: ease-in-out .5s;
}

/* 
  SurveyCard
*/

.questionContainer {
  width: 10000px;
  height: 648px;
  overflow: auto;
  text-align: left;
  margin-left: 50%;
  transform: translate(-205px);
  animation: fadeIn 1s;
  transition: ease-in-out .5s;
  display: inline-block;
}

.questions {
  width: 100%;
  overflow: hidden;
}

.card {
  width: 382px;
  height: 592px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  padding: 32px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  margin: 14px 14px 0px 14px;
}

#backgroundCard1 {
  position: absolute;
  left : -4px;
  top: 0px;
  z-index: -1;
  width: 366px;

  background: #F5F5F5;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
}

#backgroundCard2 {
  position: absolute;
  left : 4px;
  top: 12px;
  z-index: -2;
  width: 350px;

  background: #F5F5F5;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
}

#feedbackCard {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: none;
  transition: ease-in-out .2s;
  opacity: 0;
}

.feedbackCard {
  visibility: hidden;
  /* visibility: visible; */
}

#feedbackCard .feedbackText {
  margin-top: 132px;

  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #82D773;
  /* color: #5A87FA; */
}

#feedbackCard #feedbackImg {
  text-align: center;
  position: absolute;
  bottom: 20px;
}

#feedbackCard #feedbackBG {
  position: absolute;
  top: 27px;
  left: 10px;
}

#questionNum {
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.04em;
  color: #282828;

  margin-top: 0px;
  margin-bottom: 24px;
}

#questionDesc {
  font-weight: bold;
  font-size: 18px;
  height: 54px;
  line-height: 27px;
  color: #141414;

  margin-bottom: 50px;
}

.answerBox {
  /* display: none; */
}

.answerBoxRadio:checked + label{
  color: #78CD69;
  border-color: #78CD69;
  transition: ease-in-out .1s;
}

.answerBoxRadio.purple:checked + label{
  color: #5A87FA;
  border-color: #5A87FA;
}

.answerBoxRadio.blue:checked + label{
  color: #28D2DC;
  border-color: #28D2DC;
}

.answerBoxRadio.pink:checked + label{
  color: #FA7896;
  border-color: #FA7896;
}

.answerBoxRadio {
  display: none;
  transition: ease-in-out 1s;
}

.answerBoxText {
  cursor: pointer;
  background: none;
  border: 2px solid #BEBEBE;
  box-sizing: border-box;
  border-radius: 16px;
  width: 100%;
  height: 56px;
  margin-bottom: 16px;

  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  color: #AAAAAA;

  text-align: left;
  padding-left: 24px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.answerBox :last-child {
  margin-bottom: 0px;
}

.mainCardCircle {
  background: #FFFFFF;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.16);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block;
  float: right;
}

/* 
  submitSurvey
*/

.submitSurvey {
  position: relative;
  width: 100%;
  height: 56px;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  opacity: 0;

  transition: ease-in-out .5s;

  visibility: hidden;
}

.submitSurvey input {
  cursor: pointer;
  width: 100%;
  height: 100%;

  border: none;
  background: var(--systemColor);
  border-radius: 16px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  
  text-align: center;
  color: #FFFFFF;
}

/* Result */

.resultCard {
  width: 382px;
  height: 100%;
  position: relative;
  background: #FFFFFF;
  box-sizing: border-box;
  margin-top: 11px;
}

.resultCard #resultTitle {
  margin-top: 0px;
  position: absolute;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.resultCard #resultTitle span {
  font-family: 'yg-jalnan';
  font-style: normal;
  font-weight: bold;
}

#resultTop {
  width: 100%;
  height: 348px;
  padding: 40px 0px 24px 32px;
  box-sizing: border-box;
  background: white;
  border-radius: 24px;
  position: relative;
  margin-bottom: 32px;
}


#resultDesc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  color: #505050;
}

#resultType {
  position: absolute;
  bottom: 24px;
  z-index: 1;
}

#resultChar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

#resultPattern {
  position: absolute;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.cardTitle {
  text-align: left;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 64px;
  margin-top: 88px;
  color: var(--textColor);
;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #3C3C3C;
  text-shadow: var(--textColorBorder);
  -moz-text-shadow: var(--textColorBorder);
  -webkit-text-shadow: var(--textColorBorder);
}

.todoCardTitle {
  margin-bottom: 44px;
}

.positionCard {
  text-align: center;
  margin-top: 16px;
  width: 382px;
  height: 100%;
  background: #FFFFFF;
  border-radius: 24px;

  box-sizing: border-box;
}

.positionContainer {
  width: 318px;
  height: 56px;
  margin-top: 28px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 30px;
}

.dptiTypeContainer {
  margin: 0 auto;
  margin-top: 14px;
  width: 300px;
  word-break: keep-all;
}

#positionText {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 53px;
  color: var(--systemColor);
}

.designCard {
  width: 318px;
  margin-top: 16px;
  background: #FFFFFF;
}

.designTypeContainer {
  position: relative;
}

.designType {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  display: inline-block;
}

.designType .designTypeText {
  float: right;
  margin-top: 14px;
  display: inline-block;
  font-family: 'NanumSquareRound',sans-serif;
  font-style: normal;
  font-weight: 800;
  text-align: center;

  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.01em;
  color: var(--systemColor);
  text-shadow: var(--systemColorBorder);
  -moz-text-shadow: var(--systemColorBorder);
  -webkit-text-shadow: var(--systemColorBorder);
  margin-left: 16px;
}

.designType .number {
  float: left;
  display: inline-block;
  font-family: 'NanumSquareRound',sans-serif;
  font-style: normal;
  font-weight: 800;
  text-shadow: var(--whiteColorBorder02);
  -moz-text-shadow: var(--whiteColorBorder02);
  -webkit-text-shadow: var(--whiteColorBorder02);

  font-size: 12px;
  background: var(--systemColor);
  padding: 8px 11px 8px 11px;
  border-radius: 50%;
  color: #FFFFFF;
}

.designTypeDesc {
  width: 100%;
  height: 50px;
  display: block;
  right: 0;
  font-size: 16px;
  line-height: 180%;
  color: var(--textColor);
}

.designTypeContainer {
  text-align: center;
  margin-top: 48px;
}

.designTypeContainer:last-of-type {
  margin-top: 48px;
}

.toolCard {
  margin-top: 16px;
  width: 382px;
  height: 350px;
  background: #FFFFFF;
  box-sizing: border-box;
  position: relative;
}

.toolContainer {
  margin-top: 28px;
  position: relative;
  text-align: center;
}

.toolNameContainer {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  text-align: center;
  display: block;
  margin-top: 16px;
}

#toolName {
  text-align: center;
  color: var(--systemColor);

  font-family: 'NanumSquareRound',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #FF9173;
  text-shadow: var(--systemColorBorder);
  -moz-text-shadow: var(--systemColorBorder);
  -webkit-text-shadow: var(--systemColorBorder);
}

.toolImgContainer {
  height: 50px;
  display: inline-block;
}

.toolImgContainer img {
  width: 60px;
}

.toolDescContainer {
  margin-top: 32px;
}

#toolDesc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  color: #282828;
}

.todoCard {
  margin-top: 16px;
  width: 382px;
  height: 100%;
  background: #FFFFFF;
  box-sizing: border-box;
}

.todoDescContainer {
  margin-top: 28px; 
}

#todoDesc {
  font-size: 14px;
  line-height: 180%;
  color: #282828;
}

.buttonContainer {
  width: 382px;
  margin-top: 40px;
  position: relative;
  padding-bottom: 34px;
}

.goHome {
  cursor: pointer;
  border: none;
  width: 130px;
  height: 56px;
  background: var(--systemColor);
  border-radius: 16px;

  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

.share {
  cursor: pointer;
  border: none;
  width: 240px;
  height: 56px;
  background: var(--systemColor);
  border-radius: 16px;

  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;

  position: absolute;
  right: 0;
}

.dimodamoTitle {
  display: none;
}

.mainCard {
  opacity: 0;
  transition: ease-in-out .4s;
}

.mainCard:nth-of-type(1) {
  opacity: 1;
}

.mainCard:nth-of-type(2) {
  opacity: 0.5;
}

#backgroundCard1 ,#backgroundCard2 {
  display: none;
}

.leftCardGrad {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(270deg, rgba(245, 245, 245, 0) 4.19%, #F5F5F5 100%);
  border-radius: 24px;
  transition: ease-in-out 2s;
}

.rightCardGrad {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 100%);
  border-radius: 24px;
  /* transition: ease-in-out .5s; */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .resultCard {
    width: 100%;
  }

  #resultPattern {
    /* width: 97%;
    height: 97%; */
  }

  #resultTop {
    padding: 30px 26px 30px 26px;
  }

  #resultBottom {
    /* padding: 30px 26px 30px 26px; */
  }

  .positionCard {
    width: 100%;
    /* padding: 30px 26px 30px 26px; */
  }

  .positionContainer {
    width: 100%;
  }

  .designCard {
    width: 100%;
    box-sizing: border-box;
  }

  .toolCard {
    width: 100%;
    height: 100%;
    /* padding: 30px 26px 30px 26px; */
  }

  .toolNameContainer {
    /* width: 70%; */
  }

  .todoCard {
    width: 100%;
    /* padding: 30px 26px 30px 26px; */
  }

  .buttonContainer {
    width: 100%;
  }

  .goHome {
    width: 35%;
  }
  
  .share {
    width: 60%;
  }
  
  .dimodamoTitle {
    display: none;
  }

}

  /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
  */

@media (min-width: 1281px) {

  .submitSurvey input {
    width: 382px;
  }

  .leftCardContainer {
    float: left;
    margin-top: 48px;
    text-align: left;
  }

  .rightCardContainer {
    text-align: left;
    position: relative;
    float: right;
    width: 815px;
    height: 664px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    box-sizing: border-box;
    padding: 22px;
    margin-top: 48px;
  }
  .resultCard {
    margin: 0;
    height: 664px;
  }

  .positionCard, .designCard, .toolCard, .todoCard {
    position: absolute;
    display: inline-block;
    margin: 0;
    background: none;
    box-shadow: none;
  }

  .todoCard {
    height: 350px;
  }

  .toolCard {
    left: 20px;
    top: 0;
  }

  .todoCard {
    left: 20px;
    bottom: 0;
  }

  .designCard {
    right: 20px;
    top: 0;
  }

  .positionCard {
    right: 20px;
    bottom: 160px;
  }

  .buttonContainer {
    position: absolute;
    width: 50%;
    padding: 36px 32px 36px 32px;
    box-sizing: border-box;
    right: 0;
    bottom: 10px;
  }

  .goHome {
    display: none;
  }

  .share {
    position: relative;
    width: 100%;
  }

  .resultCardsContainer {
    width: 1240px;
    margin: 0 auto;
  }

  .dimodamoTitle {
    position: absolute;
    left: 0;
    cursor: pointer;
    display: block;
  }

  .headerContainer {
    text-align: center;
  }

  .header {
    width: 1240px;
  }

  .prev {
    display: none !important;
  }

  .progressBG {
    width: 1240px;
    margin: 35px auto;
  }

  .main {
    text-align: center;
  }

  #backgroundCard1, #backgroundCard2 {
    display: none;
  }
}