/* Notosans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}



.main {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: rgb(245, 245, 245);
  background-image: url("/images/mainBGArticle.png");
}

.dptiMainCircle {
  position: relative;
  background-color: white;
  border-radius: 520px;
  margin: 0 auto;
  width: 520px;
  height: 520px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
}

.mainCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#center {

  padding-top: 120px;
}

.dptiMainCircle .subTitle {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FF7D5F;
  margin-bottom: 0.5em;
}

.dptiMainCircle .mainLine {
  border: 1px solid #FF7D5F;
  width: 168px;
  margin: 0 auto;
  margin-top: 15px;
}

.dptiMainCircle #longLine {
  width: 320px;
}

.dptiMainCircle .questionText {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.01em;

  color: #141414;
}

.participantBox {
  position: relative;
  width: 480px;
  height: 56px;
  background: #FFFFFF;
  border: 2px solid #FF7D5F;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin: 80px auto 0px auto;

  /* visibility: hidden; */
}

.participantBoxHidden {
  position: relative;
  width: 480px;
  height: 56px;
  background: #FFFFFF;
  border: 2px solid #FF7D5F;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin: 80px auto 0px auto;

  visibility: hidden;
}

.participantBox span{
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #FF7D5F;
}

.participantBox .participantTitle {
  /* text-align: left; */
  position: absolute;
  left: 32px;
  line-height: 52px;
}

.participantBox .participantNum {
  position: absolute;
  right: 32px;
  line-height: 52px;
}

.startBox {
  margin: 16px auto;
  border: none;
  width: 480px;
  height: 56px;
  background: #FF7D5F;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 52px;
  letter-spacing: -0.01em;
  color: white;

  cursor: pointer;
}

.mainCopyright {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #BEBEBE;
}

.infoText {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.01em;

  color: #141414;
}

.infoHighlight {
  color: #FF7D5F;
  font-weight: 900;
}


/*
  Survey Screen
*/

.surveyBox {
  width: 350px;
  height: 560px;
  padding: 32px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  display: inline-block;
  margin: 20px;
}

/*
  SurveySelectBox
*/

#surveyMainCenter {
  width: 20000px;
  overflow: auto;
  text-align: left;
  /* display: inline-block; */
  /* left: 0;
  top: 0; */
  /* transform: none; */
  /* overflow: hidden; */
  /* top: 50%; */
  /* transform: translate(0%, -50%); */
  margin-left: 50%;
  transform: translate(-225px);
  transition: ease-in-out .5s;
}

.selectBox {
  width: 100%;
  height: 56px;
  display: block;
  border: 2px solid #BEBEBE;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 54px;
  color: #AAAAAA;
  background-color: #FFFFFF;
  margin-top: 16px;
  padding-left: 24px;
}

.selectBox:hover {
  transition: ease-in-out 0.2s;
  /* background-color: #FF7D5F; */
  /* color: #FFFFFF; */
  /* border: none; */
  border-color: #FF7D5F;
  color: #FF7D5F;
}

.surveyBox h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.01em;
  color: #282828;
  margin-bottom: 27px;
  margin-top: 10px;
}

.surveyBox p {
  width: 240px;
  word-break: keep-all;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #141414;

  margin-bottom: 54px;
}

.nextBox {
  border: none;
  /* position: absolute;
  transform: translate(-50%); */
  /* left: 50%; */
  /* bottom: 120px; */
  margin: 60px auto;;
  
  width: 382px;
  height: 56px;
  background: #FF7D5F;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 52px;
  letter-spacing: -0.01em;
  color: white;
  display: block;

  cursor: pointer;
}

.buttonDiv {
  width: 100%;
  position: relative;
}

/* 
  surveyHeader
*/
.surveyHeader {
  position: relative;
  display: block;
  width: 1280px;
  height: 100px;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
}

.surveyHeader .headerLogo {
  position: absolute;
  left: 0;
}

.surveyHeader p {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.01em;

  /* 255 / 125 / 95 */

  color: #FF7D5F;
}

.surveyHeader .xButton {
  position: absolute;
  right: 0;
}

.surveyHeader .progressBarBG {
  margin-top: 36px;
  width: 100%;
  height: 8px;
  background: #EBEBEB;
  border-radius: 22px;
}

.surveyHeader .progressBar {
  margin-top: 36px;
  width: 10%;
  height: 8px;
  background: #FF7D5F;
  border-radius: 22px;
}