@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
    --systemColor : #FF9173;
    --systemColorBorder : -0.2px 0 var(--systemColor), 0 0.2px var(--systemColor), 0.2px 0 var(--systemColor), 0 -0.2px var(--systemColor);

    --whiteColor : #FFFFFF;
    --whiteColorBorder04 : -0.4px 0 var(--whiteColor), 0 0.4px var(--whiteColor), 0.4px 0 var(--whiteColor), 0 -0.4px var(--whiteColor);
    --whiteColorBorder035 : -0.35px 0 var(--whiteColor), 0 0.35px var(--whiteColor), 0.35px 0 var(--whiteColor), 0 -0.35px var(--whiteColor);
    --whiteColorBorder02 : -0.2px 0 var(--whiteColor), 0 0.2px var(--whiteColor), 0.2px 0 var(--whiteColor), 0 -0.2px var(--whiteColor);

    --textColor : #3C3C3C;
    --textColorBorder01 : -0.1px 0 var(--textColor), 0 0.1px var(--textColor), 0.1px 0 var(--textColor), 0 -0.1px var(--textColor);

    --ORANGE : #FF820F;
    --ORANGE_BORDER02 : -0.2px 0 var(--ORANGE), 0 0.2px var(--ORANGE), 0.2px 0 var(--ORANGE), 0 -0.2px var(--ORANGE);

    --ORANGE_ACTIVE : #FF6900;
    --ORANGE_UNACTIVE : #FFD2AA;

    --YELLOW : #FFD25F;
    --YELLOW_LIGHT : #FFF0C8;
    --YELLOW_DARK : #FFB428;

    --PINK : #FF6991;
    --PINK_LIGHT : #FFDCE6;
    --PINK_DARK : #F04682;

    --BLUE : #32D7E1;
    --BLUE_LIGHT : #BEFAFF;
    --BLUT_DARK : #32BECD;
    
    --PURPLE : #5F8CFF;
    --PURPLE_LIGHT : #D2DCFF;
    --PURPLE_DARK : #3C6EE6;

    --TEXT_SMALL : #505050;
    --TEXT_BIG : #3C3C3C;
    --TEXT_BIG_BORDER01 : -0.1px 0 var(--TEXT_BIG), 0 0.1px var(--TEXT_BIG), 0.1px 0 var(--TEXT_BIG), 0 -0.1px var(--TEXT_BIG);


    --WHITE255 : #FFFFFF;
    --WHITE255_BORDER04 : -0.4px 0 var(--WHITE255), 0 0.4px var(--WHITE255), 0.4px 0 var(--WHITE255), 0 -0.4px var(--WHITE255);
    --WHITE255_BORDER02 : -0.2px 0 var(--WHITE255), 0 0.2px var(--WHITE255), 0.2px 0 var(--WHITE255), 0 -0.2px var(--WHITE255);


    --WHITE245 : #F5F5F5;
    --WHITE235 : #EBEBEB;

    --GRAY210 : #D2D2D2;
    --GRAY190 : #BEBEBE; 
    --GRAY170 : #AAAAAA;
    
}

.dimodamoHeader {
    background-color: var(--ORANGE);
    height: 44px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top : 0;
    z-index: 9999;

}

.dimodamoSurveyHader {
    position: relative !important;
    position: -webkit-relative !important;
}

.dimodamoHeader img {
    margin-top: 15px;
}


#root {
    /* background: #F5F5F5; */
    box-sizing: border-box;
}

.mainPatternBGContainer {
    width: 95%;
    position: absolute;
    margin: 0 auto;
}

.mainBGPattner {
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

.titleContainer {
    margin: 0 auto;  
    padding-top: 60px;
    text-align: center;
    width: 144px;
}

.subTitle {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: var(--ORANGE);
}

.logo {
    margin-top: 6px;
    margin-bottom: 12px;
}

.logoDPTI {
    margin-top: 8px;
    margin-bottom: -18px;
}

.line {
    width: 126px;
    height: 2px;
    margin: 0 auto;
    background: var(--ORANGE);
}

.dptiSubTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 9.5px;
    line-height: 14px;
    text-align: center;
    color: var(--ORANGE);
}

.dptiSubTitle {
    margin-top: 2px;
}

.mainTopMargin {
    height: 44px;
}

.titleBubble {
    height: 350px;
    /* border: 2px solid var(--systemColor);
    margin: 0 auto;
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    padding-top: 50px; */
}

.bubbleImg {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%);
}

.titleBubblePolygon {
    width: 64px;
    height: 56px;
    position: absolute;
    background: #FFFFFF;
    border-radius: 4px;
    transform: rotate(90deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    bottom: -21px;
    right: 108px;
    z-index: 1;
}

.peopleBubbleContainer {
    width: 100%;
    height: 120px;
    text-align: center;
    position: relative;
}

.leftBubble, .rightBubble {
    margin: 0 auto;
    border-radius: 8px;
    width: 248px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    text-align: center;
    position: relative;
}

.leftBubble {
    margin-top: 50px;
    margin-left: 47px;
}

#leftBubblePolygon {
    width: 36px;
    height: 32px;
    left: 20px;
    bottom: -10px;
}

.rightBubble {
    margin-top: 18px;
    margin-right: 47px;
}

#rightBubblePolygon {
    width: 36px;
    height: 32px;
    right: 20px;
    bottom: -10px;
    transform: rotateZ(270deg);
}

#bubbleText {
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 35px;
    text-align: center;

    /* ORANGE */
    color: var(--ORANGE);
}
.bubbleTextContainer {
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 100%;
}

.peopleContainer {
    width: 100%;
    height: 180px;
    position: relative;
}

.leftPeople {
    position: absolute;
    z-index : -1;
    left: 0px;
}

#leftPeopleDesktop,
#rightPeopleDesktop {
    display: none;
}

.rightPeople {
    z-index : -1;
    position: absolute;
    right: 0px;
}

.testStartContainer {
    text-align: center;
    position: relative;
    height: 140px;
}

.testStartInnerContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.testSubTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #BEBEBE;
    margin-bottom: 6px;
}

.DPTITestStartButton {
    cursor: pointer;
    width: 204px;   
    height: 56px;
    background: var(--ORANGE_ACTIVE);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 16px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    color: var(--WHITE255);
    border: none;
    margin-bottom: 50px;
}

/* SecondMainContainer */

.secondMainContainer {
    position: absolute;
    width: 100%;
    z-index: 5;
    margin-left: -16px;
    margin-right: -16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 24px 24px 0px 0px;

    padding: 16px;
    box-sizing: border-box;    
}

.secondMainTitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
}

.participantContainer {
    width: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 16px;
    text-align: center;
    margin-top: 40px;
}

.secondMainText {
    font-family: 'NanumSquareRound',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: var(--ORANGE);
    line-height: 50px;
    text-align: center;
    text-shadow: var(--ORANGE_BORDER02);
    -moz-text-shadow: var(--ORANGE_BORDER02);
    -webkit-text-shadow: var(--ORANGE_BORDER02);
}

.secondMainText span {
    font-family: 'NanumSquareRound',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: var(--ORANGE);
    line-height: 40px;
    text-align: center;
    text-shadow: var(--ORANGE_BORDER02);
    -moz-text-shadow: var(--ORANGE_BORDER02);
    -webkit-text-shadow: var(--ORANGE_BORDER02);
}

#dptiTypeText {
    display: inline-block;
    word-break: keep-all;
    margin: 0;
    width: 270px;
    font-size: 24px;
    line-height: 40px;
}

.dptiType {
    margin-top: 40px;
}

.dptiResults {
    margin-top: 40px;
    height: 490px;
}

/* resultCard */


#mainResultTop {
    width: 100%;
    text-align: left;
    height: 255px;
    padding: 30px 0px 23px 23px;
    box-sizing: border-box;
    background: #1EB4BE;
    position: relative;
    border-radius: 24px;
}

#mainResultChar, #loadingResultChar {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.04));
}

#mainResultRoadingTitle {
    height: 105px;
    position: absolute;
    left: 20px;
    top: 30px;
}

#mainResultType, #loadingResultType {
    width: 41px;
    position: absolute;
    bottom: 16px;
    z-index: 2;
    left: 32px;
}

#loadingResultType {
    left: 24px;
    width: 35px;
}

#loadingMainResultTop {
    position: absolute;
    z-index: 9;
    width: 100%;
    text-align: left;
    height: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 24px;
    top: 0;
    opacity: 1;
    transition: ease-in-out .5s;
}

.loadRect {
    width: 60px;
    height: 100%;
    position: absolute;
    background: var(--WHITE245);
    animation: loading 1.5s;
}

@keyframes loading {
    from {
      left: 0;
      opacity: 1;
    }
    to {
      left: 85%;
      opacity: 0;
    }
  }

#mainResultTitle {
    position: absolute;
    z-index: 1;
    margin: 0;
    left: 32px;

    font-family: 'NanumSquareRound',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.04em;

    color: var(--WHITE255);
    text-shadow: var(--WHITE255_BORDER04);
    -moz-text-shadow: var(--WHITE255_BORDER04);
    -webkit-text-shadow: var(--WHITE255_BORDER04);
    text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
}

#mainResultDesc {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 200%;
    color: #282828;
}

#mainResultBottom {
    box-sizing: border-box;
    height: 200px;
    line-height: 19px;
}


.resultsContainer {
    /* width: 1000px; */
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    overflow-x: scroll;
    height: 380px;
    /* display: inline-block; */
    /* transform: translate(150px); */
    /* position: relative; */
    /* white-space : nowrap;  */
    /* overflow-x: auto; */
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.resultsContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#mainCardDate {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #D2D2D2;
    filter: drop-shadow(0px 4px 16px rgba(255, 255, 255, 0));
}

.moreDptiTypeContainer {
    position: relative;
    bottom: 38px;
    width: 100%;
    /* margin-top: 54px; */
    /* margin-bottom: 38px; */
}

.moreDptiTypeButton {
    cursor: pointer;
    background: var(--ORANGE_ACTIVE);
    border-radius: 16px;
    border: none;   
    width: 100%;
    height: 56px;

    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

#mainBGPattneDesktop {
    display: none;
}

.mainIconContainer {
    margin-bottom: 24px;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .participantContainer {
        width: 100%;
    }
    
    .secondMainContainer {
        width: 100%;
    }
    
    .moreDptiTypeContainer {
        position: relative;
        width: 100%;
    }

    .moreDptiTypeContainer input {
        position: relative;
        width: 100%;
    }

    .dptiResults {
        height: 490px;
    }

    .mainBGPattner {
        width: 100%;
    }
}

  /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
    */

@media (min-width: 1280px) {

    .DPTITestStartButton {
        width: 408px;
    }

    .secondMainContainer {
        text-align: left;
        width: 1046px;
        padding: 80px 0px 38px 0px;
        text-align: center;
        position: relative;
        display: inline-block;
    }

    .secondMainTitle {
        display: inline-block;
        margin-top: 20px;
    }
    
    .participantContainer {
        display: inline-block;
        float: right;
        width: auto;
        margin-top: 6px;
    }

    .participant {
        border-top: 2px solid var(--ORANGE);
        display: block;
        overflow: auto;
        width: 640px;
        display: inline-block;
        text-align: left;
    }

    .dptiResults {
        height: auto;
    }

    .dptiType {
        border-top: 2px solid var(--ORANGE);
        display: block;
        width: 640px;
        display: inline-block;
        text-align: left;
        overflow: auto;
        margin-top: 80px;
    }

    #dptiTypeText {
        text-align: right;
    }

    .mainIconContainer {
        display: none;
    }

    .moreDptiTypeContainer {
        position: relative;
        width: 100%;
        bottom: auto;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    #dptiTypeMainTitle {
        padding-top: 20px;
        border-top: 2px solid var(--ORANGE);  
        width: 640px;
        text-align: left;
        margin-bottom: 60px;
    }

    .resultsContainer {
        position: relative;
        height: 285px;

        /* width: 100vw;
        position: relative;
        left: calc(-50vw + 50%); */
    }

    .peopleContainer {
        width: 800px;
        z-index: 2;
        height: 257px;
        margin: 0 auto;
    }

    .peopleBubbleContainer {
        width: 320px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        margin-top: 50px;
        transform: translate(-50%);
    }

    .mainPatternBGContainer {
        position: absolute;
    }

    .leftBubble {
        margin: 0;
        float: left;
        display: inline-block;
        top: 50px;
    }

    .rightBubble {
        margin: 0;
        float: right;
        display: inline-block;
        margin-top: 20px;
        top: -60px;
    }

    .leftPeople, .rightPeople {
        display: none;
    }

    #leftPeopleDesktop,
    #rightPeopleDesktop {
        display: block;
        width: 170px;
        height: 398px;
    }

    .mainBGPattner {
        display: none;
    }

    #mainBGPattneDesktop {
        width: 1280px;
        display: block;
        position: absolute;
        z-index: -2;
    }
    .moreDptiTypeButton {
        width: 360px;
    }

    .mainBottom {
        text-align: center;
    }

    .mainResultsContainer {
        height: 325px;
        padding-top: 8px;
        overflow: hidden;
    }
}